extends layout.pug

block body_content
    .game-container
        .bar
            span.content Virus Attack Central Mayhem
            span.score 0
        .game-area
            canvas#game-canvas
        canvas#background

    