.cell{
  width:250px;
  height:250px;
  border: 3px dashed white;
  border-radius: 250px;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:linear;
    &--rotate-right{
      -webkit-animation-name:             rotate;
    }
    &--rotate-left{
      -webkit-animation-name:             rotate_left;
    }


}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate_left {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
